src/localstructures/*.extxyz filter=lfs diff=lfs merge=lfs -text
test_data/cunano_show.lammpstrj filter=lfs diff=lfs merge=lfs -text
test_data/show_analysis.txt filter=lfs diff=lfs merge=lfs -text
src/localstructures_onlyCu/* filter=lfs diff=lfs merge=lfs -text
