src/localstructures/*.extxyz filter=lfs diff=lfs merge=lfs -text
test_data/cunano_show.lammpstrj filter=lfs diff=lfs merge=lfs -text
test_data/show_analysis.txt filter=lfs diff=lfs merge=lfs -text
src/localstructures_onlyCu/* filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/9neighborinvalid.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/5neighbourterrace.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/7neighbour110.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/8neighbourterminal.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/6neighbourterrace.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/8neighbourvacsite.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/3neighbouradatom.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/4neighbouradatomwithneighbour.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/5neighbourb5110adatom.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/7neighbour211surf.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/9neighbor111term.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/9neighborinvalid2.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/4neighbouratomatop.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/5neighbour211b5ad.extxyz filter=lfs diff=lfs merge=lfs -text
src/localstructures_newopt/6neighbour211110corner.extxyz filter=lfs diff=lfs merge=lfs -text
